@mixin ResMin4000 {
    @media only screen and (min-width: 4000px ) { @content; }
}

@mixin ResMin2500 {
    @media only screen and (min-width: 2500px ) { @content; }
}

@mixin ResMin1920 {
    @media only screen and (min-width: 1920px ) { @content; }
}

@mixin ResMin1600 {
    @media only screen and (min-width: 1600px ) { @content; }
}

@mixin ResMin1295 {
    @media only screen and (min-width: 1295px ) { @content; }
}

@mixin Res1240 {
    @media only screen and (max-width: 1235px ) { @content; }
}

@mixin Res1000 {
    @media only screen and (max-width: 1000px ) { @content; }
}

@mixin Res900 {
    @media only screen and (max-width: 900px ) { @content; }
}

@mixin Res700 {
    @media only screen and (max-width: 700px ) { @content; }
}

@mixin Res600 {
    @media only screen and (max-width: 600px ) { @content; }
}

@mixin Res500 {
    @media only screen and (max-width: 500px ) { @content; }
}

@mixin iphone15ProMax {
    @media only screen and (max-width: 430px ) { @content; }
}

@mixin iphone15Pro {
    @media only screen and (max-width: 393px ) { @content; }
}

@mixin iphoneSE {
    @media only screen and (max-width: 375px ) { @content; }
}

@mixin iphone5SE {
    @media only screen and (max-width: 320px ) { @content; }
}


@mixin Height1000 {
    @media only screen and (max-height: 1000px ) { @content; }
}

@mixin Height750 {
    @media only screen and (max-height: 750px ) { @content; }
}

@mixin Height700 {
    @media only screen and (max-height: 700px) and (min-width: 500px) {@content;}
}
