@import "./Variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cinzel:wght@400;500;600;700;800;900&family=Gruppo&family=Italianno&family=Jura:wght@300;400;500;600;700&family=Monsieur+La+Doulaise&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


$script-font1: "Monsieur La Doulaise", cursive;

$title-font1: "Gruppo", cursive;

$body-font: 'Garamond', serif;
// $body-font: 'Garamond', sans-serif;


.Body {
  main {
    h1 {
      font-family: $script-font1;
      font-size: 4.5rem;

      @include Title;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 40px;

    }
    h2 {
      @include Title;
      font-family: $title-font1;
      margin: 0 auto;
      padding: 25px 0;
      font-size: 5rem;
    }
    h3 {
      font-family: $title-font1;
      margin-bottom: 10px;
      color: $color1-3;
      font-size: 3rem;
    }
    h4 {
      font-family: $title-font1;
      margin: 8px 0;
      color: $color1-2;
      
    }
    h5 {
      font-family: $title-font1;
      margin: 8px 0;
      color: $color1-2;
      font-size: 4rem;
    }
    h6 {
      font-family: $body-font;
      margin: 8px 0;
      color: $color1-2;
      font-size: 3rem;
    }
    p {
      // background-color: seagreen;
      font-family: $body-font;
      font-size: 1.7rem;
      margin-bottom: 15px;
      color: $color1-5;
      font-weight: normal;
      // font-style: italic;
    }
    li {
      // background-color: lightgreen;
      padding: 0 1%;
      font-size: 1.6rem;
    }

    @mixin SubHeader($FontSize) {
      font-size: $FontSize;
      font-family: $body-font;
      margin-bottom: 10px;
      color: $color1-3;
    }
  }
}
