
// Color Theme //
$color1-Main: #1084ce;
$color1-1: #D9EFFC;
$color1-2: #67BEF4;
$color1-3: #1084ce; //main
$color1-4: #094972;
$color1-5: #031826;

$color2-Main: #92e017;
$color2-1: #EEFBDA;
$color2-2: #BDEF6B;
$color2-3: #92e017; //main
$color2-4: #619410;
$color2-5: #243706;

$color3-Main: #ce1084;
$color3-1: #FBC6E7;
$color3-2: #F57AC6;
$color3-3: #ce1084; //main
$color3-4: #850A56;
$color3-5: #260318; 

$color4-Main: #c3d5f4;
$color4-1: #c3d5f4; //main
$color4-2: #86AAE9;
$color4-3: #417ADC;
$color4-4: #163A79;
$color4-5: #091934;

$color5-Main: #881eb6;
$color5-1: #E9CAF6;
$color5-2: #C573E8;
$color5-3: #881eb6; //main
$color5-4: #5C147B;
$color5-5: #270935;

$color6-Main: #d9d0ce;
$color6-1: #d9d0ce; //main
$color6-2: #C1B2AE;
$color6-3: #957B75;
$color6-4: #5C4B47;
$color6-5: #231C1B;


@mixin Title {
    background-color: $color1-3;
    background-image: linear-gradient(180deg, $color3-3, #0c33d6);
    // background-image: linear-gradient(180deg, $color4-3, $color3-3, $color1-3);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    // margin-bottom: 40px;
}


@mixin ButtonAction($FontSize) {

    background-color: $color1-4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $color1-2;
        color: $color1-4;
    }
    &:active {
        transform: scale(0.97);
        color: $color1-1;
    }
}

@mixin ButtonNav($FontSize) {

    background-color: $color3-4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $color3-2;
        color: $color3-4;
    }
    &:active {
        transform: scale(0.97);
        color: $color3-1;
    }
}