
// Color Theme //
$primary1: #d1e9f9;
$primary2: #74beec;
$primary3: #1084ce;
$primary4: #0e5886;
$primary5: #043454;
$primaryWhite: #ebd0d1;
$primaryBlack: #2a0304;

$secondary1: #e9f9d1;
$secondary2: #beec74;
$secondary3: #92e017;
$secondary4: #58860e;
$secondary5: #1d2d05;
$secondaryWhite: #f0d8e6;
$secondaryBlack: #240116;

$tertiary1: #f9d1e9;
$tertiary2: #ec74be;
$tertiary3: #ce1084;
$tertiary4: #860e58;
$tertiary5: #2d051d; 
$tertiaryWhite: #f6ece2;
$tertiaryBlack: #271200;

$gold1: #FFECC6;
$gold2: #CCAF76;
$gold3: #A08143;
$gold4: #795A1E;
$gold5: #452F02;  
$goldWhite: #eae6dd;
$goldBlack: #1d1301;

$complementary1: #ced6f7;
$complementary2: #6d85e6;
$complementary3: #0c33d6;
$complementary4: #071f80;
$complementary5: #020a2b;
$complementaryWhite: #cbebca;
$complementaryBlack: #022200;

$blue1: #5874C8;
$blue2: #1F48C2;
$blue3: #0B2E98;
$blue4: #062171;
$blue5: #021040;
$blueWhite: #cfd4e4;
$blueBlack: #020d2c;


@mixin Titleh1 {
    background-color: $primary3;
    background-image: linear-gradient(0deg, $complementary3, $tertiary3);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    // margin-bottom: 40px;
}

@mixin NavLinks {
    background-color: $primary3;
    background-image: linear-gradient(0deg, $altprimary3, $tertiary3);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin ButtonAction($FontSize) {

    background-color: $primary4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $primary2;
        color: $primary4;
    }
    &:active {
        transform: scale(0.97);
        color: $primary1;
    }
}

@mixin ButtonNav($FontSize) {

    background-color: $tertiary4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $tertiary2;
        color: $tertiary4;
    }
    &:active {
        transform: scale(0.97);
        color: $tertiary1;
    }
}