
// Color Theme //
$color1-1: #d1e9f9;
$color1-2: #74beec;
$color1-3: #1084ce;
$color1-4: #0e5886;
$color1-5: #043454;

$color2-1: #e9f9d1;
$color2-2: #beec74;
$color2-3: #92e017;
$color2-4: #58860e;
$color2-5: #1d2d05;

$color3-1: #f9d1e9;
$color3-2: #ec74be;
$color3-3: #ce1084;
$color3-4: #860e58;
$color3-5: #2d051d; 

$color4-1: #DADCFB;
$color4-2: #6A70F1;
$color4-3: #0c33d6;
$color4-4: #071f80;
$color4-5: #020a2b;

$color5-1: #DADCFB;
$color5-2: #6A70F1;
$color5-3: #0c33d6;
$color5-4: #071f80;
$color5-5: #020a2b;

$color6-1: #DADCFB;
$color6-2: #6A70F1;
$color6-3: #0c33d6;
$color6-4: #071f80;
$color6-5: #020a2b;


@mixin Title {
    background-color: $color1-3;
    background-image: linear-gradient(0deg, $color4-3, $color3-3);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    // margin-bottom: 40px;
}

@mixin NavLinks {
    background-color: $color1-3;
    background-image: linear-gradient(0deg, $color4-3, $color3-3);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin ButtonAction($FontSize) {

    background-color: $color1-4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $color1-2;
        color: $color1-4;
    }
    &:active {
        transform: scale(0.97);
        color: $color1-1;
    }
}

@mixin ButtonNav($FontSize) {

    background-color: $color3-4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $FontSize;
    border-radius: 7px;

    transition-duration: 0.2s;
    
    &:hover {
        background-color: $color3-2;
        color: $color3-4;
    }
    &:active {
        transform: scale(0.97);
        color: $color3-1;
    }
}