@import "../Main.scss";


.Wallmount {
  // background-color: coral;
  padding: 20px 0;
  border-top: 1px solid $primary3;
  // display: flex;
  // flex-wrap: wrap;

    h3 {
      width: 100%;
      // background-color: lightblue;
    }

  .WallmountWriteUp {
    // background-color: magenta;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .WallmountWriteUpLeft, .WallmountWriteUpRight {
      // background-color: rgb(255, 200, 80);
      width: 48%;
      
      @include Res900 {
        // width: 100%;
      }
    }

    .WallmountEachImage {
      border: solid 15px $tertiary5;
      border-radius: 6px;
      box-shadow: 0px 0px 6px -1px $tertiary5;



    }

    .WallmountEachImage > img {
      background-color: red;
      margin-bottom: -2px;

    }

  }
}
