@import "../Main.scss";

.About {

  .HeadshotDiv {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    background-color: black;
    border-radius: 15px;

    img {
      max-width: 500px;
      max-height: 500px;
      border: 5px solid black;
      border-radius: 15px;
    }
    
    .ContactLinks {
      // background-color: green;
      width: fit-content;
      display: flex;
      margin: 0 auto;

      h4 {
        padding: 7px 20px 12px 20px;
        cursor: pointer;
        color: $primary2;
      }
    }
  }

  .TextContent {
    // background-color: coral;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;

    .BranchStatement {
    }

    .AboutWriteUp {
    }
  }
}
