@import "../Main.scss";

.About {

  .HeadshotDiv {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    background-color: black;
    border-radius: 15px;

    img {
      max-width: 500px;
      max-height: 500px;
      border: 5px solid black;
      border-radius: 15px;

      @include Res700 {width: 400px; height: 400px;}
      @include Res600 {width: 350px; height: 350px;}
      @include Res500 {width: 250px; height: 250px;}
      @include iphoneSE {width: 220px; height: 220px;}
      @include iphone5SE {width: 220px; height: 220px;}

    }
    
    .ContactLinks {
      // background-color: green;
      width: fit-content;
      display: flex;
      margin: 0 auto;
      
      @include Res700 {display: unset;}
      

      h6 {
        // background-color: blue;
        font-size: 1.5rem;
        padding: 7px 20px 12px 20px;
        cursor: pointer;
        color: $color1-2;
        @include Res700 {font-size: 1.7rem; padding: 0 0 10px 0; width: 100%;}
        @include Res600 {font-size: 1.4rem;}
        @include iphoneSE {font-size: 1.2rem;}
      }
    }
  }

  .TextContent {
    // background-color: coral;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;

    .BranchStatement {
    }

    .AboutWriteUp {
    }
  }
}
