@import "../Main.scss";

main {
  .FooterMain {
    // background-color: coral;
    margin: 0 auto;
    padding: 0 0 20px 0;

    .Links {
    //   background-color: lightblue;
      padding-top: 5px;
      width: max-content;
      margin: 0 auto;

      ul {

        li {
          // background-color: lightskyblue;
          width: max-content;
          display: inline;
          justify-content: space-between;
          padding: 0 30px;

          a:hover {
            color: $color1-3;
          }
        }
      }
    }
  }
}
