@import "../Main.scss";

main {

    .LogoDiv {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        padding: 1% 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: pointer;
        }
        
    }

    .NavLinks {
        // background-color: coral;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin: 0 auto;
        padding-top: 10px;

        @include iphone12Pro {width: 80%; justify-content: space-between;}
        
        li {
            @include iphone12Pro {
                width: 30%;
                padding-top: 5px;
            }
        }
    }

    .NavBottomBorder {
        width: 80%;
        padding-top: 5px;
        margin: 0 auto;
        border-bottom: solid 2px $complementary1;
    }

}