@import '../Main.module.scss' ;


.body {
  --background: linear-gradient(white, $complementary1);
  height: 100vh;
  background-image: linear-gradient(white, $complementary1);
  background-attachment: fixed;
  // background-repeat: no-repeat;

/* To prevent no show for framer-motion on hover for dots (inherited from Type.scss)*/
  h1 {
    -webkit-text-fill-color: unset; 
    -moz-text-fill-color: unset;
    font-size: 45px;
  }

  // Directions that fade from left to right. Done with basic CSS.

  .header {
    // padding: 20px auto 0 auto;
    margin: 0 auto;
    // background-color: aquamarine;
    width: fit-content;

    .directions { /* technique from https://www.youtube.com/watch?v=w1nhwUGsG6M */
      h3 {
        // font-family: $title-font2;
        text-align: center;
        // background-color: blue;
        font-size: 20px;
        position: relative;
        z-index: 2;
      }
      h3::before , h3::after {
        content: '';
        position: absolute;
        // background-color: red;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      h3::before {
        background-color: white;
        animation: typewriter 2s ease forwards;
        animation-delay: 3s;
      }

      @keyframes typewriter {
        to {
          left: 100%;
        }
      }

    }
  }



  .title_container {
    // background-color: rgb(190, 178, 113);
    margin: 0 auto;
    padding: 20px 0 50px 0 ;
    height: 50px;
    // margin-top: 100px;
    width: fit-content;
    width: 100%;

    @include iphone12Pro {padding-top: 0px;}
    @include iphone5SE {margin-top: -30px;}

    h1{
      font-size: 50px;
      // font-family: $title-font2;
      text-align: center;
      // background-color: green;
      animation-duration: 2s;
      animation-name: fadein;
    }

    @keyframes fadein {
      0%    { opacity: 0; }
      50%   { opacity: 0; }
      100%  { opacity: 100; }
    }

  }

  h2 {
    @include Titleh1;
    font-size: 50px;

    @include iphone12Pro {font-size: 50px; margin-top: 10px;}
    @include iphone5SE {font-size: 45px; margin-top: 30px;}
  }

  .main {
    // background-color: gold;
    position: relative;
    height: 80vh;

    .dot_container {
      // background-color: rgb(129, 129, 129);
      padding-top: 50px;
      width: 100%;
      position: absolute;

    
      .dot0_container {
        // background-color: rgb(132, 101, 101);
        // width: 100%;
        height: 305px; //needs to be 305px in order to satisfy Splash.js Initial and animate x/y values.
        width: 305px; //needs to be 305px in order to satisfy Splash.js Initial and animate x/y values.
        left: 50%;
        transform: translate(-50%, 0); 
        position: absolute;
        border-radius: 50%;
        border: 15px black solid;

        @include iphone12Pro {
          height: 305px; 
          width: 305px;
          border: 11px black solid;
        }

        @include iphoneSE {
          height: 230px; 
          width: 230px;
          border: 11px black solid;
        }

        @include iphone5SE {
          height: 230px; 
          width: 230px;
          border: 10px black solid;
        }

      }

    
      .dot {
        background-color: aqua;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        
        // top:50%;
        left:50%;
        transform: translate(-50%, 0); 
        position: absolute;
        
        // @include Res700{height: 33px;width: 33px;};
        // @include Res500{height: 30px;width: 30px;};
        @include iphone12Pro{
          height: 27px;
          width: 27px;
          left: 52%;
          // margin-top: -30px;
        };

        @include iphoneSE{
          height: 26px;
          width: 26px;
          // margin-top: -30px;

        };

        @include iphone5SE{
          height: 24px;
          width: 24px;
          // margin-top: -45px;
        };
        
      }
    
        .dot1_container {
          // background-color: darkblue;

          #dot1 {
            background-color: $primary3;
            // z-index: 11;
          }
        }

        .dot2_container {
          // background-color: darkgreen;
        


          #dot2 {
            background-color: $secondary3;
            // z-index: 12;
          }
        }

        .dot3_container {
          // background-color: darkred;
          


          #dot3 {
            background-color: $tertiary3;
            // z-index: 13;

          }
        }

        .dot4_container {
          // background-color: darkred;
          


          #dot4 {
            background-color: $tertiary4;
         
          }
        }

        .dot5_container {
          // background-color: darkred;

          #dot5 {
            background-color: $primary4;
            
          }
        }

        .dot6_container {
          // background-color: darkred;

          #dot6 {
            background-color: $secondary4;
           
          }
        }
         
    }

  }

 

  .name_container {
    // background-color: lightcoral;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);

    @include Titleh1;

    @include Res700 {top: 95%;}
    @include Res500 {top: 95%;}
    @include iphone12Pro {top: 95%;}
    @include iphoneSE {top: 95%;}
    @include iphone5SE {top: 105%;}


    .name_text {
      h1 {
        font-size: 60px;
        font-family: $script-font2;
        // background-color: blue;
        // animation-delay: 3s;
        // animation-duration: 4s;
        // animation-name: fadein;
        @include iphone12Pro {font-size: 50px;}
        @include iphoneSE {font-size: 45px;}
        @include iphone5SE {font-size: 40px;}
      }

      .fadeEffect {

      }

    }

  }

}

