@import "../Main.scss";


.PortfolioBriefDiv {
    // background-color: purple;
    display: flex;
    margin-bottom: 3%;

    .PortfolioBrief {
        // background-color: red;
        padding: 5px 10px;
        width: 70%;

        h5 {
            font-size: 2rem;
            color: $color2-5;
        };
    }
    
    .DesignNavDiv {
        width: 30%;
        position:relative;
        
        @include ButtonNav($FontSize:1rem);
        background-color: $color2-2;

        &:hover {
            background-color: $color2-3;
            h5 {color: $color2-1;};
        }
        
        &:active {
            background-color: $color2-4;
            h5 {color: $color2-3;};
        }

        h5 {
            // background-color: purple;
            color: $color2-4;
            width: 100%;
            margin: 0;
            font-size: 2rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            @include Res900{font-size: 16px};
            @include Res700{font-size: 13px};
            @include Res500{font-size: 14px};

        };
    
    }

}



.AllProjects {
    // background-color: blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    

    .ProjectDiv {
        background-color: rgb(248, 247, 253) ;
        // border: solid 1px black;
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 400px;
        contain: content;
        box-shadow: 6px 6px 20px -8px $color2-5;
        position: relative;

        h4 {
            // background-color: red;
            color: $color2-3;
            font-size: 2rem;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            position: absolute;
            top: 0;
        }
        .ImageDiv {
            overflow: hidden;
            height: 300px;
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);

            img {
                width: 100%;
                border: solid 1px $color2-4;
            }
        }

        .Git, .Live{
            // background-color: coral;
            width: 50%;
            height: 30px;

            p{
                font-size: 1.5rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            animation: pulse 8s infinite;

            @include ButtonAction(10px);
            background-color: $color2-4;
            padding: 0px 0px;
            border-radius: 0px;
            border: 1px solid rgba($color2-5 , 0.2);
            position: absolute;
            bottom: 0;

            &:hover {
                background-color: $color2-2;
                color: $color3-4;
            };
            &:active {
                background-color: $color2-1;
            }

        }

        .Git {
            left: 0;
        }
        .Live {
            right: 0;
        }

    }
}
