@import "./styles/Type.scss";
@import "./styles/Variables.scss";
@import "./styles/Media.scss";

.Body {
  // --background: linear-gradient($color1-1, $color1-5);
  height: 100vh;
  background-image: linear-gradient(white, $color4-1);
  background-attachment: fixed;
  // background-repeat: no-repeat;

  overflow: auto;

  main {
    // background-color: Blue;
    width: 90vw;
    margin: 0 auto;

    .MainContent {
      // background-color: yellow;
      width: 80%;
      margin: 0 auto;

      .PageIntro {
        // background-color: rgb(160, 221, 160);
        padding-bottom: 20px;
      }
    }
  }
}
