@import './styles/Type.scss' ;
@import './styles/Variables.scss';
@import './styles/Mixins.scss';
@import './styles/Media.scss';

.Body {
    --background: linear-gradient(white, $complementary1);
    height: 100vh;
    background-image: linear-gradient(white, $complementary1);
    background-attachment: fixed;
    // background-repeat: no-repeat;
}