@import "../Main.scss";

.DownloadDiv {
//   background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;

  .h3 {
    color: $color3-3;
    padding-top: 5px;
    
    @include Res700 {font-size: 2rem;}
  }

  @include Res500 {
    h2 {font-size: 22px;}
    display: flex;
    flex-direction: column;
    text-align: center;
}

  .ResumeButton {
    // background-color: gold;
    @include ButtonAction($FontSize:18px);
    background-color: $color3-4;
    &:hover {
      background-color: $color3-2;
      color: $color3-4;
    }
    &:active {
        color: $color3-1;
    }

    @include Res900{font-size: 16px};
    @include Res700{font-size: 13px};
    @include Res500{font-size: 14px};
  }
}

.ResumeImageDiv {
  background-color: rgba($color3-5, 0.2);
  padding: 2px;
  border: 1px rgba(145, 13, 101, 0.281) solid;
  opacity: 1;
  box-shadow: 0px 5px 15px -7px $color3-4;

  .ResumeImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
