@import "../Main.scss";

.DownloadDiv {
//   background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;

  .h4 {
    color: $color3-3;
    padding-top: 5px;
    
    @include Res700 {font-size: 2rem;}
  }

  @include Res500 {
    h2 {font-size: 22px;}
    display: flex;
    flex-direction: column;
    text-align: center;
}

  .ResumeButton {
    // background-color: gold;
    @include ButtonAction($FontSize:1.8rem);
    background-color: $color3-4;
    &:hover {
      background-color: $color3-2;
      color: $color3-4;
    }
    &:active {
        color: $color3-1;
    }

    h5 {
      font-size: 1.8rem;
      @include Res900{font-size: 1.6rem};
      @include Res700{font-size: 1.3rem};
      @include Res500{font-size: 1.5rem};

      color: $color3-1;
    }

  }
}

.ResumeImageDiv {
  background-color: rgba($color3-5, 0.2);
  padding: 2px;
  border: 1px rgba(145, 13, 101, 0.281) solid;
  opacity: 1;
  box-shadow: 0px 5px 15px -7px $color3-4;
  margin: 0 auto;
  width: 980px;

  @include Res1240{width: 830px};
  @include Res1000{width: 100%};

  .ResumeImage {
    max-width: 100%;
    height: auto;
  }
}
