@import '../Main.scss';




.AllProjects {
    background-color: $color4-1;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px -4px $color4-5;
    padding: 10px 20px 1px 20px;

    @include iphone15ProMax {
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
        padding: 0px;
    }

    .EachProject {
        // background-color: green;
        margin-bottom: 50px;

        .ProjectInfoDiv {
            // background-color: $color2-1;

            h5 {
                color: white;
                font-size: 2.5rem;

                @include iphone15ProMax {color: $color4-5;}
            }

            p{
                // font-size: 1.5rem;
                margin: 0px 0 5px 0;
            }
        }

        .Iframe {
            width: 100%;
            height: 50%;
            border-radius: 5px;
            box-shadow: 0px 0px 15px -6px $color2-5;
        }
    }
}


